.dl {
  margin: 0;
  display: grid;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-neutral-content-subtler);
  grid-template-columns: 40% 60%;
  grid-row-gap: 12px;

  &__dt {
    font-weight: 500;
    min-width: 300px;
    color: var(--color-neutral-content);
    display: flex;
    align-items: center;
    gap: var(--spacing-tighter);
  }

  &__dd {
    margin: 0;
  }
}

.help-icon {
  position: relative;
  display: inline;
  vertical-align: baseline;
  color: var(--color-primary-icon);
  width: 20px;
  height: 20px;
}
